<div class="border-top"><div 
  class="d-flex align-items-center justify-content-center"
  *ngIf="dataLoaded == false"
>
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Ara</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Aramak istediğiniz ürünü yazın.">
</div>
<div *ngIf="filterText" class="alert alert-success">{{filterText}} Aradınız</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Kategoryi Id</th>
      <th scope="col">Ürün Adı</th>
      <th scope="col">Birim Fiyatı</th>
      <th scope="col">Birim Stoğu</th>
      <th scope="col">KDV dahil Fiyatı   </th>

     <th scope="col">  </th>
    </tr>
  </thead>
<tbody>


  <tr *ngFor="let product of products | filterPipe:filterText">
    <th>{{ product.productId }}</th>
    <td>{{ product.categoryId }}</td>
    <td>{{ product.productName | uppercase }}</td>
    <td>{{ product.unitPrice | number:'1.2-2'}} ₺</td>
    <td>{{ product.unitsInStock  }}</td>
  <td>{{ product.unitPrice | vatAdded :10 | number:'1.2-2'}} ₺</td>    <!-- KDVLİ Fiyat için değer gönderiyoruz. -->
  <td><button (click)="addToCart(product)"  
    type="button" class="btn btn-primary">Sepete Ekle</button>
  </td>
  </tr></tbody>
</table>
</div>